img {
  width: 100%;
}

.masonry {
  margin: 50px;
  column-count: 4;
  column-gap: 16px;
}

.masonry .mItem {
  display: inline-block;
  margin-bottom: 16px;
  width: 100%;
}

@media (max-width: 1199px) {
  .masonry {
    column-count: 3;
  }
}

@media (max-width: 991px) {
  .masonry {
    column-count: 2;
  }
}

@media (max-width: 767px) {
  .masonry {
    column-count: 1;
  }
}

.profileButton{
  border-radius: 35px;
  cursor: pointer;
  border: 0;
  font-size: 16px;
  padding: 14px;
  margin-right: 30px;
  font-weight: bold;
  background-color: #FFE194;
}

.profileButton:hover:not(.stateactive){
  background-color:#FDFFA9;
}

.profileButtons{
  display: flex;
  justify-content: flex-start;
  margin-left: 30px;
  margin-top: 20px;
  padding: 10px;
}

.stateactive{
  background-color:#FFB319;
}
        

