ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFE194;
}

li {
  float: left;
}

li a {
  display: block;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.link:hover:not(.active) {
  background-color: #FDFFA9;
}

.active {
  background-color: #FFB319;
}

.address{
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: #cab275 0px 2px 8px;
  background-color: #FFE194;
  color:#000;
}

.address:hover{
  background-color: #FDFFA9;
}