:focus {
  outline: none;
}
.col-3 {
  float: left;
  width: 27.33%;
  margin: 40px 3%;
  position: relative;
}
input[type="text"],
input[type="number"],
input[type="file"] {
  font: 15px/24px "Lato", Arial, sans-serif;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
}
.effect-2 {
  border: 0;
  padding: 7px 0;
  border-bottom: 1px solid #ccc;
}

.effect-2 ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #79B4B7;
  transition: 0.4s;
}
.effect-2:focus ~ .focus-border {
  width: 100%;
  transition: 0.4s;
  left: 0;
}

.form-submit-button {
  background: #FFE194;
  color: #000;
  font-weight: bolder;
  font-size: 16px;
  border: 1px solid #eee;
  border-radius: 6px;
  box-shadow: 5px 5px 5px #eee;
  text-shadow: none;
  height: 45px;
  width: 85px;
}
.form-submit-button:hover {
  cursor: pointer;
  background: #FFB319;
  border: 1px solid #eee;
  border-radius: 6px;
  box-shadow: 5px 5px 5px #eee;
  text-shadow: none;
  height: 45px;
  width: 85px;
}

.upldpara {
  font-size: 16px;
  font-weight: bold;
}
